# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Env files
.env
.env.*

# Editor files
.vscode/
.idea/
.DS_Store

# OS / misc
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.lock.hcl